doctype html
html(lang='en')
  head
    title My Awesome Calculator
    link(href='/style.css', rel='stylesheet')
  body
    h1 Super Calc!!

    form(action='/calc', method='post')
      input(type='number', name='x')
      input(type='text', name='op')
      input(type='number', name='y')
      button(type='submit')
      span=r
